*.pyc
backend/.env
backend/pegboard/__pycache__
backend/pegboard/migrations
backend/pegboard/migrations/__pycache__
backend/PegboardApp/__pycache__
backend/pegboard/models/__pycache__

.DS_Store
.vscode
/env
vetur.config.js