
.scale-enter-to, .scale-leave-from {
    transform: scale(1, 1);
}

.scale-enter-active, .scale-leave-active {
    transition: transform 100ms;
}

.scale-enter-from, .scale-leave-to {
    transform: scale(0.5, 0.5);
}


.translate-fade-enter-to, .translate-fade-leave-from {
    transform: translateY(0);
    opacity: 1;
}

.translate-fade-enter-active, .translate-fade-leave-active {
    transition: transform, opacity 500ms ease;
}

.translate-fade-enter-from, .translate-fade-leave-to {
    transform: translateY(24pt);
    opacity: 0;
}