@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('theme.variables.scss');

body, html, #app {
    background-color: var(--secondary);
    color: var(--text);
}

* {
    box-sizing: border-box;
}

#app {
    @apply w-10/12 m-auto
}

h1 {
    @apply font-bold text-2xl
}

h1 small {
    @apply font-light;
    color: var(--scale-text-3);
}

h2 {
    @apply font-semibold text-xl;
    color: var(--scale-text-5);
}

h2 small {
    @apply font-normal;
    color: var(--scale-text-3);
}

a {
    @apply text-blue-500 px-1
}

nav a {
    @apply px-4
}

form label {
    @apply font-bold mr-4
}

form input {
    @apply  bg-gray-600 px-3 py-1 m-2 rounded-full;
    width: 100%;
}

button {
    @apply px-4 py-1 rounded-full font-semibold bg-blue-700 text-blue-100 mx-2;
    max-height: fit-content;
}

button.secondary {
    @apply bg-transparent text-blue-500
}
