@import 'theme.variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'utilities.scss';
@import 'typography.scss';
@import 'animations.scss';
@import 'buttons.scss';
@import 'inputs.scss';

:root {
    --ggs: 0.65;
}

.gg-home-alt {
    transform: scale(0.8, 0.7);
}

.icon-md {
    transform: scale(0.8, 0.8);
}

.icon-lg {
    transform: scale(1, 1);
}

body, html, #app {
    background-color: var(--scale-secondary-700);
    color: var(--text);
    height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.6;
}

a {
    color: var(--info);
}
