@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'theme.variables.scss';
@import 'typography.scss';

body, html, #app {
    background-color: var(--scale-secondary-3);
    color: var(--text);
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.6;
}

a {
    color: var(--info);
}

form label {
    @apply font-bold mr-4;
}

form input, form textarea {
    @apply px-3 py-1 my-2 rounded-full;
    background-color: var(--scale-secondary-2);
    width: 100%;
}

form input.dark {
    background-color: rgba(0, 0, 0, 0.25);
}

button {
    @apply px-4 py-1 rounded-full font-semibold m-1;
    background-color: var(--emphasis);
    color: var(--text);
    max-height: fit-content;
}

button.secondary {
    @apply bg-transparent;
    color: var(--emphasis);
}
