
button {
    @apply px-4 py-1 rounded-lg font-semibold text-base;
    background-color: var(--emphasis);
    color: var(--text);
    max-height: fit-content;
    transition: transform 250ms;
}

button:hover {
    transform: scale(1.02, 1.02);
}

button:active {
    transform: scale(0.975, 0.975);
    transition: transform 250ms;
}

/*
*  TEXT
*/

.outline-text {
    background: transparent;
    color: var(--text);
    border: 1.25pt solid var(--text);
}

.outline-text:hover {
    background: var(--text-opacity-50);
    transition: background 200ms;
}

.light-text {
    background: var(--text-opacity-50);
    color: var(--text);
}

.light-text:hover {
    background: var(--text-opacity-100);
    transition: background 200ms;
}

.subtle-text {
    background: transparent;
    color: var(--text);
}

.subtle-text:hover {
    background: var(--text-opacity-50);
    transition: background 200ms;
}

/*
*  EMPHASIS
*/

.outline-emphasis {
    background: transparent;
    color: var(--emphasis);
    border: 1.25pt solid var(--emphasis);
}

.outline-emphasis:hover {
    background: var(--emphasis-opacity-50);
    transition: background 200ms;
}

.light-emphasis {
    background: var(--emphasis-opacity-50);
    color: var(--emphasis);
}

.light-emphasis:hover {
    background: var(--emphasis-opacity-100);
    transition: background 200ms;
}

.subtle-emphasis {
    background: transparent;
    color: var(--emphasis);
}

.subtle-emphasis:hover {
    background: var(--emphasis-opacity-50);
    transition: background 200ms;
}

/*
*  ALERT
*/

.outline-alert {
    background: transparent;
    color: var(--alert);
    border: 1.25pt solid var(--alert);
}

.outline-alert:hover {
    background: var(--alert-opacity-50);
    transition: background 200ms;
}

.light-alert {
    background: var(--alert-opacity-50);
    color: var(--alert);
}

.light-alert:hover {
    background: var(--alert-opacity-100);
    transition: background 200ms;
}

.subtle-alert {
    background: transparent;
    color: var(--alert);
}

.subtle-alert:hover {
    background: var(--alert-opacity-50);
    transition: background 200ms;
}

/*
*  SCALE TEXT 300
*/

.outline-scale-text-300 {
    background: transparent;
    color: var(--scale-text-300);
    border: 1.25pt solid var(--scale-text-300);
}

.outline-scale-text-300:hover {
    background: var(--scale-text-300-opacity-50);
    transition: background 200ms;
}

.light-scale-text-300 {
    background: var(--scale-text-300-opacity-50);
    color: var(--scale-text-300);
}

.light-scale-text-300:hover {
    background: var(--scale-text-300-opacity-100);
    transition: background 200ms;
}

.subtle-scale-text-300 {
    background: transparent;
    color: var(--scale-text-300);
}

.subtle-scale-text-300:hover {
    background: var(--scale-text-300-opacity-50);
    transition: background 200ms;
}

/*
*  SCALE TEXT 500
*/

.outline-scale-text-500 {
    background: transparent;
    color: var(--scale-text-500);
    border: 1.25pt solid var(--scale-text-500);
}

.outline-scale-text-500:hover {
    background: var(--scale-text-500-opacity-50);
    transition: background 200ms;
}

.light-scale-text-500 {
    background: var(--scale-text-500-opacity-50);
    color: var(--scale-text-500);
}

.light-scale-text-500:hover {
    background: var(--scale-text-500-opacity-100);
    transition: background 200ms;
}

.subtle-scale-text-500 {
    background: transparent;
    color: var(--scale-text-500);
}

.subtle-scale-text-500:hover {
    background: var(--scale-text-500-opacity-50);
    transition: background 200ms;
}

/*
*  SCALE TEXT 700
*/

.outline-scale-text-700 {
    background: transparent;
    color: var(--scale-text-700);
    border: 1.25pt solid var(--scale-text-700);
}

.outline-scale-text-700:hover {
    background: var(--scale-text-700-opacity-50);
    transition: background 200ms;
}

.light-scale-text-700 {
    background: var(--scale-text-700-opacity-50);
    color: var(--scale-text-700);
}

.light-scale-text-700:hover {
    background: var(--scale-text-700-opacity-100);
    transition: background 200ms;
}

.subtle-scale-text-700 {
    background: transparent;
    color: var(--scale-text-700);
}

.subtle-scale-text-700:hover {
    background: var(--scale-text-700-opacity-50);
    transition: background 200ms;
}