
:root {
    --primary: #282c38;
    --secondary: #111213;
    --main: #282c38;
    --second: #111213;

    --text: #f3f7ff;
    --text-opacity-50: #f3f7ff23;
    --text-opacity-100: #f3f7ff3d;
    --text-opacity-300: #f3f7ff6e;
    --text-opacity-500: #f3f7ff8c;
    --text-opacity-700: #f3f7ffb4;
    --text-opacity-900: #f3f7ffd3;
    --text-opacity-950: #f3f7ffe5;

    --emphasis: #f855a6;
    --emphasis-opacity-50: #f855a623;
    --emphasis-opacity-100: #f855a63d;
    --emphasis-opacity-300: #f855a66e;
    --emphasis-opacity-500: #f855a68c;
    --emphasis-opacity-700: #f855a6b4;
    --emphasis-opacity-900: #f855a6d3;
    --emphasis-opacity-950: #f855a6e5;

    --info: #88a4ff;

    --alert: #88a4ff;
    --alert-opacity-50: #88a4ff23;
    --alert-opacity-100: #88a4ff3d;
    --alert-opacity-300: #88a4ff6e;
    --alert-opacity-500: #88a4ff8c;
    --alert-opacity-700: #88a4ffb4;
    --alert-opacity-900: #88a4ffd3;
    --alert-opacity-950: #88a4ffe5;

    --danger: #d3a43f;
    --error: #40396d;

    --scale-text-50: #3E4659;
    --scale-text-100: #535f79;

    --scale-text-300: #6a7692;
    --scale-text-300-opacity-50: #6a769223;
    --scale-text-300-opacity-100: #6a76923d;
    --scale-text-300-opacity-300: #6a76926e;

    --scale-text-500: #8692b1;
    --scale-text-500-opacity-50: #8692b123;
    --scale-text-500-opacity-100: #8692b13d;
    --scale-text-500-opacity-300: #8692b16e;

    --scale-text-700: #b6bfd4;
    --scale-text-700-opacity-50: #b6bfd423;
    --scale-text-700-opacity-100: #b6bfd43d;
    --scale-text-700-opacity-300: #b6bfd46e;

    --scale-text-900: #d1d7e4;

    --scale-secondary-100: #242831;
    --scale-secondary-300: #20232b;
    --scale-secondary-500: #1d1f25;
    --scale-secondary-700: #191b1f;
    --scale-secondary-900: #151719;
}