h1, h2, h3, h4, h5, h6 {
    padding: none;
    margin: none;
}

h1 {
    @apply text-xl lg:text-2xl font-semibold;
    line-height: 1;
}

h2 {
    @apply text-lg lg:text-xl font-medium;
    color: var(--scale-text-900);
    line-height: 1.2;
}

h3 {
    @apply text-base font-bold lg:text-lg lg:font-medium;
    color: var(--text);
    line-height: 1.3;
}

h4 {
    @apply text-base font-medium lg:text-lg lg:font-normal;
    color: var(--scale-text-700);
    line-height: 1.3;
}

h5 {
    @apply text-base font-medium lg:font-semibold;
    color: var(--scale-text-500);
    line-height: 1.4;
}

h5 {
    @apply text-sm font-normal;
    color: var(--scale-text-500);
    line-height: 1.4;
}
